{{define "footer"}}

<div class="ui inverted vertical footer segment">
    <div class="ui container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">关于我们</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">网站地图</a>
            <a href="#" class="item">联系方式</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">项目相关</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">帮助文档</a>
            <a href="#" class="item">MIT License</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">友情链接</h4>

          <div class="ui three column grid">
            <div class="column"><img src="http://www.semantic-ui.cn/images/logo.png" class="ui left mini image"></div>
            <div class="column"><img src="https://raw.githubusercontent.com/go-macaron/macaron/v1/macaronlogo.png" class="ui left mini image"></div>
          </div>





        </div>
      </div>
    </div>
  </div>
</body>
</html>
{{end}}
