{{template "header" .}}

<div class="ui segment">
  <!-- HTML to write -->
  <div class="ui one column relaxed grid">
    <div class="column">
      <table id="tb_dockerimagelist" class="ui selectable celled right aligned table">
        <thead class="left aligned">
          <tr>
            <th>排序</th>
            <th>镜像Tag</th>
            <th>大小</th>
            <th>创建时间</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </table>
  </div>
</div>
</div>

<div id="example"></div>
<script type="text/jsx">
    React.render(<h1>Hello, world!</h1>, document.getElementById('example'));
</script>

{{template "footer" .}}

<script src="/js / business / mydocker.js ">
</script>
